* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

section {
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  padding: 14px 0;
  margin: 0 7rem;
}

.navbar a img {
  height: 70px;
  margin: 5px 0;
}

.logo {
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .navbar {
      display: flex;
      padding: 14px 0;
      margin: 0 3rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
      padding: 4px 0;
      margin: 0 2rem;
  }

  .navbar a img {
      height: 40px;
      margin: 1px 0;
  }
}

@media screen and (max-width: 481px) {
  .navbar {
      display: flex;
      padding: 7px 0;
      margin: 0 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
      padding: 2px 0;
      /* margin: 0; */
  }

  .navbar a img {
      height: 25px;
      margin: 1px 0;
  }

  svg {
      height: 25px;
      margin: 1px 0;
  }
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
}
.slider-outer{
  position: relative;
}
.slider-inner {
  width: 90%;
  height: 500px;
  overflow: hidden;
  position: relative;
  padding: 3px;
  margin: 0 70px;
}
.slider-inner img {
  display: none;
  width: 92.8%;
  height: 600px;
  margin-left: 45px;
}
.slider-inner img.active {
  display: inline-block;
}
.next {
  height: 100px;
  width:50px;
  cursor: pointer;
  position: absolute;
  left: 84%;
  top: 50%;
  z-index: 50;
}
.sirc {
  height: auto;
  width: 90px;
  position: absolute;
  left: 82%;
  top: 90%;
  z-index: 50;
}
.blue-banner {
  background-color: #244ac2;
  color: white;
  font-size: large;
  text-align: center;
  height: 3.5rem;
  width: 30rem;
  position: absolute;
  left: 2%;
  top: 50%;
  z-index: 2;
}
.blue-banner p {
  margin-top: 3%;
}
.black-banner {
  background-color: black;
  display: inline-block;
  height: 3.5rem;
  width: 30rem;
  position: absolute;
  left: 63%;
  top: 50%;
  z-index: -1;
}
@media screen and (max-width: 1201px) {
  .black-banner {
      left: 58%;
  }
  .container {
      width: 100%;
  }

  .next {
      left: 85%;
      top: 50%;
  }
  .sirc {
      top: 90%;
  }
}
@media screen and (max-width: 1080px) {
  .black-banner {
      left:55.4%;
  }
  .container {
      width: 100%;
      /* margin: 0 7%; */
      overflow: auto;
  }
}
@media screen and (max-width: 1025px) {
  .black-banner {
      left: 53%;
  }
}
@media screen and (max-width: 1024px) {
  .black-banner {
      background-color: black;
      display: inline-block;
      height: 3.5rem;
      width: 30rem;
      position: absolute;
      left: 52%;
      top: 50%;
      z-index: -1;
  }
  .sirc {
      left: 80%;
      top: 90%;
  }
}
@media screen and (max-width: 956px) {
  .black-banner {
      left: 49.6%;
  }
}
@media screen and (max-width: 884px) {
  .black-banner {
      left: 45%;
  }
  .slider-inner{
      margin: 0 50px;
  }
}
@media screen and (max-width: 846px) {
  .container {
      width: 100%;
  }
  .sirc {
      left: 80%;
      top: 90%;
  }
}
@media screen and (max-width: 828px) {
  .black-banner {
      left: 41%;
  }
  .container {
      width: 100%;
  }
  .slider-inner {
      width: 95%;
      height: 450px;
      margin: 10px;
  }
  .slider-inner img {
      width: 100%;
      height: 450px;
  }
  .next {
      top: 38%;
      left: 50%;
  }
  .sirc {
      left: 80%;
      top: 90%;
  }
  .blue-banner {
      height: 2.5rem;
      top: 50%;
  }
}
@media screen and (max-width: 812px) {
  .black-banner {
      left: 40.4%;
  }
  .container {
      width: 100%;
      /* margin: 0 5%; */
      overflow: auto;
      height: 400px;
  }
  .slider-inner {
      width: 100%;
      height: 400px;
      overflow: hidden;
      position: relative;
      padding: 0px;
      margin: 0;
  }
  .slider-inner img {
      display: none;
      width: 100%;
      height: 400px;
      margin-left: 0;
  }
  .next {
      top: 45%;
      left: 85%;
  }
  .sirc {
      left: 80%;
      top: 87%;
  }
}
@media screen and (max-width: 768px) {
  .container {
      width: 100%;
  }

  .slider-inner {
      width: 100%;
      height: 450px;
      overflow: hidden;
      position: relative;
      padding: 0;
      margin: 0;
  }
  .slider-inner img {
      width: 100%;
      height: 400px;
      margin-left: 0;
  }

  .next {
      top: 45%;
      left: 86%;
  }
  .sirc {
      left: 80%;
      top: 80%;
  }
  .black-banner {
      display: none;
  }
  .blue-banner {
      height: 3rem;
      width: 20rem;
      position: absolute;
      left: 0%;
      top: 45%;
      z-index: 2;
  }
}
@media screen and (max-width: 731px) {
  .next {
      height: 60px;
      width: 70px;
      left: 85%;
      top: 45%;
  }
  .slider-inner img {
      margin-left: 0;
  }
  .slider-inner {
      width: 100%;
      height: 400px;
  }
}
@media screen and (max-width: 710px) {
  .container {
      width: 100%;
      margin: 0;
  }
  .slider-inner img {
      margin-left: 0;
  }
  .blue-banner {
      height: 3rem;
      width: 20rem;
      position: absolute;
      left: 0%;
      top: 45%;
      z-index: 2;
  }
}
@media screen and (max-width: 480px) {
  .container {
      width: 100%;
  }
  .slider-inner {
      width: 100%;
      height: 300px;
  }
  .slider-inner img {
      width: 100%;
      height: 300px;
  }
  .next {
      top: 40%;
      left: 77%;
  }
  .sirc {
      left: 80%;
      top: 70%;
  }
  .blue-banner {
      height: 2.5rem;
      top: 45%;
  }
}
@media screen and (max-width: 481px) {
  .container {
      width: 100%;
      height: auto;
  }
  .slider-inner {
      width: 100%;
      height: 300px;
  }
  .slider-inner img {
      width: 100%;
      height: 300px;
  }
  .next {
      top: 40%;
      left: 77%;
  }
  .sirc {
      left: 78%;
      top: 85%;
  }
  .blue-banner {
      height: 2.3rem;
      width: 18rem;
      top: 45%;
      font-size: medium;
  }
}
@media screen and (max-width: 413px){
  .sirc {
      left: 75%;
      top: 85%;
  }
}
@media screen and (max-width: 375px) {
  .container {
      width: 100%;
      height: auto;
  }
  .slider-inner {
      width: 100%;
      height: 300px;
  }
  .slider-inner img {
      width: 100%;
      height: 300px;
  }
  .next {
      top: 35%;
      left: 77%;
  }
  .sirc {
      left: 75%;
      top: 85%;
  }
  .blue-banner {
      height: 1.8rem;
      width: 14rem;
      top: 40%;
      font-size: small;
  }
}
@media screen and (max-width: 362px) {
  .sirc {
      left: 70%;
      top: 85%;
  }
}
@media screen and (max-width: 320px) {
  .container {
      width: 100%;
  }
  .slider-inner {
      width: 100%;
      height: 200px;
  }
  .slider-inner img {
      width: 100%;
      height: 200px;
  }
  .next {
      top: 35%;
      left: 80%;
      height: 40px;
      width: 50px;
  }
  .blue-banner p {
      margin-top: 0%;
  }
  .blue-banner {
      height: 1.5rem;
      width: 16rem;
      top: 39%;
      font-size: small;
      
  }
}

/* End of slider */

/* About Section */

.text-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 2.8rem 9rem;
}

.text {
  display: block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  color: #061C2C;
  float: left;
}

.icons img {
  width: 22rem;
  height: auto;
}

@media screen and (max-width: 1080px) {
  .text-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 2.6rem 5rem;
  }
}

@media screen and (max-width: 1024px) {
  .text-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 2.6rem 3.3rem;
  }
}

@media screen and (max-width: 846px) {
  .text-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 2.6rem 2rem;
  }
}

@media screen and (max-width: 828px) {
  .text-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 2.6rem 4rem;
  }
}

@media screen and (max-width: 812px) {
  .text-icons {
      display: flex;
      justify-content: space-evenly;
      padding: 2.6rem 0rem;
  }

  .text {
      width: 52%;
  }

  .icons img {
      width: 14rem;
      height: auto;
      padding: 2rem 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .text-icons {
      padding: 2rem 2.3rem;
  }

  .text {
      width: 50%;
  }

  .icons img {
      width: 20rem;
      height: auto;
  }
}

@media screen and (max-width: 742px) {
  .text-icons {
      padding: 2rem 1.4rem;
  }
}

@media screen and (max-width: 731px) {
  .text-icons {
      padding: 2.5rem 0rem;
  }

  .text {
      width: 52%;
  }

  .icons img {
      width: 17rem;
      height: auto;
      padding: 2rem 0 0 0;
  }
}

@media screen and (max-width: 710px) {
  .text-icons {
      padding: 2.5rem 0.4rem;
  }
}

@media screen and (max-width: 680px) {
  .text-icons {
      padding: 2.5rem 2rem;
  }
}

@media screen and (max-width: 667px) {
  .text-icons {
      padding: 2.5rem 1.4rem;
  }
}

@media screen and (max-width: 632px) {

  .text-icons {
      padding: 2.5rem 0rem;
      display: flex;
      flex-direction: column;
  }

  .text {
      width: 50%;
      margin: auto;
  }

  .icons img {
      display: flex;
      margin: auto;
      width: 12rem;
      height: auto;
      padding: 3rem 0 0 0;
  }
}

@media screen and (max-width: 622px) {
  .text {
      width: 53%;
  }
}

@media screen and (max-width: 562px) {
  .text-icons {
      padding: 2.5rem 0.5rem;
  }

  .text {
      font-size: large;
  }
}

@media screen and (max-width: 510px) {
  .text-icons {
      padding: 2.5rem 0.3rem;
  }
}

@media screen and (max-width: 516px) {
  .text-icons {
      padding: 2.5rem 0;
  }
}

@media screen and (max-width: 502px) {
  .text-icons {
      display: grid;
      padding: 2.5rem 1.2rem;
  }

  .text {
      width: 100%;
  }

  .icons img {
      width: 17rem;
      height: auto;
      padding: 1rem 0 0 0;
  }
}

@media screen and (max-width: 480px) {
  .text-icons {
      display: grid;
      padding: 0px;
  }

  .text {
      width: 99%;
      padding: 10px;
  }

  .icons img {
      width: 22rem;
      height: auto;
      padding: 30px;
  }
}

@media screen and (max-width: 481px) {
  .text-icons {
      display: grid;
      padding: 5px;
  }

  .text {
      width: 99%;
      padding: 10px;
  }

  .icons img {
      width: 22rem;
      height: auto;
      padding: 19px;
  }
}

@media screen and (max-width: 466px) {
  .text-icons {
      display: grid;
      padding: 5px 33px;
  }

  .text {
      width: 99%;
      padding: 10px 0;
      /* font-size: ; */
  }

  .icons img {
      width: 22rem;
      height: auto;
      padding: 19px;
  }
}

@media screen and (max-width: 442px) {
  .text-icons {
      display: grid;
      padding: 5px 22px;
  }
}

@media screen and (max-width: 411px) {
  .text-icons {
      display: grid;
      padding: 32px;
  }

  .icons img {
      width: 20rem;
      height: auto;
      padding: 15px 0;
  }
}

@media screen and (max-width: 388px) {
  .text-icons {
      display: grid;
      padding: 24px;
  }
}

@media screen and (max-width: 375px) {
  .text-icons {
      display: grid;
      padding: 10px;
  }

  .icons img {
      width: 18rem;
      height: auto;
      padding: 15px;
  }
}

@media screen and (max-width: 347px) {
  .text-icons {
      display: grid;
      padding: 10px 30px;
  }

  .icons img {
      width: 18rem;
      height: auto;
      padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  .text-icons {
      display: grid;
      padding: 26px 32px;
  }

  .text {
      width: 99%;
      padding: 0px;
  }

  .icons img {
      width: 16rem;
      height: auto;
      padding: 4px;
  }
}

@media screen and (max-width: 270px) {
  .text-icons {
      display: grid;
      padding: 26px 17px;
  }
}


.card-text {
  font-size: 32px;
  line-height: 33px;
  font-weight: 400;
  text-transform: uppercase;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #244AC2;
  color: white;
  font-weight: bold;
  align-items: center;
  padding: 10px;
  font-size: x-small;
  width: 40%;
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
}

.card-container {
  /* display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center; */
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 2rem 6rem;

}

.card {
  width: 30% !important;
}

.inner-card {
  background-color: #061C2C;
  color: rgb(233, 224, 224);
  padding: 20px;
  margin-bottom: 10%;
  height: auto;
}

.inner-card img {
  height: 5rem;
  width: 3, 5rem;
  margin-bottom: 5%;
}

.buttons img {
  height: 10px !important;
  width: 10px !important;
}

@media screen and (max-width: 1700px) {
  .card-text {
      font-size: 25px;
      line-height: 30px;
      font-weight: 300;
      text-transform: uppercase;
  }

  .inner-card img {
      height: 4rem;
      width: 3rem;
      margin-bottom: 5%;
  }

  .buttons {
      font-size: x-small;
      padding: 5px;
      line-height: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .card-container {
      grid-template-columns: 17.8rem 17.8rem 17.8rem;
  }

  .card-text {
      font-size: 25px;
      line-height: 20px;
      font-weight: 300;
      text-transform: uppercase;
  }

  .inner-card img {
      height: 3rem;
      width: 2rem;
      margin-bottom: 5%;
  }

  .buttons {
      font-size: xx-small;
      padding: 5px;
      line-height: 15px;
  }
}

@media screen and (max-width: 1010px) {
  .card-container {
      grid-template-columns: 17.8rem 17.8rem 17.8rem;
  }

  .card-text {
      font-size: 19px;
      line-height: 20px;
      font-weight: 300;
      text-transform: uppercase;
  }

  .inner-card img {
      height: 3rem;
      width: 2rem;
      margin-bottom: 5%;
  }

  .buttons {
      font-size: xx-small;
      padding: 5px;
      line-height: 15px;
  }
}

@media screen and (max-width: 900px) {
  .card-container {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-content: center;
  }

  .card-text {
      font-size: 19px;
      line-height: 20px;
      font-weight: 300;
      text-transform: uppercase;
  }

  .card {
      width: 20rem !important;
  }

  .inner-card img {
      height: 3rem;
      width: 2rem;
      margin-bottom: 5%;
  }

  .buttons {
      font-size: xx-small;
      padding: 5px;
      line-height: 15px;
      margin-bottom: 5%;
  }
}

@media screen and (max-width: 877px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 35px;
      line-height: 40px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 70% !important;
      margin: auto;
  }

  .inner-card img {
      height: 5rem;
      width: 3rem;
      margin-bottom: 5%;
  }

  .buttons {
      font-size: medium;
      padding: 10px;
      line-height: 20px;
      margin-bottom: 5%;
  }
}

@media screen and (max-width: 700px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 35px;
      line-height: 40px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 70% !important;
      margin: auto;
  }

  .inner-card img {
      height: 5rem;
      width: 3rem;
      margin-bottom: 5%;
  }

  .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  }

  .buttons {
      width: 95%;
      font-size: medium;
      padding: 10px;
      line-height: 20px;
      margin-bottom: 5%;
  }
}

@media screen and (max-width: 626px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 35px;
      line-height: 40px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 80% !important;
      margin: auto;
  }

  .inner-card img {
      height: 5rem;
      width: 3rem;
      margin-bottom: 5%;
  }

  .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  }

  .buttons {
      width: 95%;
      font-size: medium;
      padding: 10px;
      line-height: 20px;
      margin-bottom: 5%;
  }
}
@media screen and (max-width: 540px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 25px;
      line-height: 40px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 80% !important;
      margin: auto;
  }

  .inner-card img {
      height: 3rem;
      width: 1.5rem;
      margin-bottom: 5%;
  }

  .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  }

  .buttons {
      width: 93%;
      font-size: small;
      padding: 10px;
      line-height: 20px;
      margin-bottom: 5%;
  }
}
@media screen and (max-width: 477px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 80% !important;
      margin: auto;
  }

  .inner-card img {
      height: 3rem;
      width: 1.5rem;
      margin-bottom: 5%;
  }

  .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  }

  .buttons {
      width: 90%;
      font-size: x-small;
      padding: 10px;
      line-height: 15px;
      margin-bottom: 5%;
  }
}
@media screen and (max-width: 384px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 17px;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 90% !important;
      margin: auto;
  }

  .inner-card img {
      height: 2rem;
      width: 1rem;
      margin-bottom: 5%;
  }

  .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  }

  .buttons {
      width: 85%;
      font-size: x-small;
      padding: 10px;
      line-height: 15px;
      margin-bottom: 5%;
  }
}

@media screen and (max-width: 350px) {
  .card-container {
      display: flex;
      flex-direction: column;
  }

  .card-text {
      font-size: 15px;
      line-height: 30px;
      font-weight: 600;
      text-transform: uppercase;
  }

  .card {
      width: 100% !important;
      margin: auto;
  }

  .inner-card img {
      height: 2rem;
      width: 1rem;
      margin-bottom: 5%;
  }

  .buttons-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
  }

  .buttons {
      width: 85%;
      font-size: x-small;
      padding: 10px;
      line-height: 15px;
      margin-bottom: 5%;
  }
}