* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
 
}
body{
    overflow-x: hidden;
}
/* SECTION */
section {
  width: 100%;
}
/* INDICATORS */
.pagination span {
    background-image: url(./assests/image/slider-dots\ \(1\).svg);
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 1px;
    margin-bottom: -206px;

}
.pagination {
    position: absolute;
    display: block;
    bottom: 252px;
    right: 215px;
    z-index: 10;
    text-align: center;
}
.pagination span.active {
    opacity: 0.39;
    transform: rotate(160deg);
}
/* SCROLLBAR */
::-webkit-scrollbar {
  display: none;
}
/* NAVBAR */
.navbar {
  display: flex;
  padding: 14px 0;
  margin: 0 7rem;
}

.navbar a img {
  height: 70px;
  margin: 5px 0;
}

.logo {
  margin-right: auto;
 
}

